body {
    padding-top: 60px;
}

.topbar div > ul {
    float: right;
}

.repository-box {
    margin: 20px 0;
}

.repository-header {
    border: 1px solid #EEEEEE;
    padding: 5px 15px;
    background-color: #F5F5F5;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 1px 0 #FFFFFF inset;
    margin-bottom: 0;
}

.repository-body {
    border: 1px solid #EEEEEE;
    padding: 10px 15px;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 1px 0 #FFFFFF inset;
    margin-bottom: 0;
}

.bordered-table th {
    background-color: #f5f5f5;
}

.bordered-table td {
    background-color: #F9F9F9;
}

.bordered-table th + th, .bordered-table td + td, .bordered-table th + td {
    border-left-style: none;
}

.blob-info {
    padding: 0 5px 0 0;
}

.blob-info span {
    padding: 0 10px;
}

.blob-info span:nth-child(n+2) {
    border-left: 1px #DDDDDD solid;
}

.commit {
    margin: 0 0 20px 0;
    border-radius: 4px;
    /* box-shadow: 0 1px 0 #FFFFFF inset;*/
    border: 1px solid #DDDDDD;
}

.commit time {
    font-size: 90%;
    background-color: #e6f1f6;
    line-height: 30px;
    padding-left: 10px;
    display: block;
}

.commit .meta {
    padding: 5px;
}

.commit .meta p {
    display: inline;
}

.commit .meta .message {
    font-weight: bold;
    font-size: 14px;
}

.commit .meta .author {
    font-size: 90%;
}

.label {
    text-transform: none;
}

span.large {
    font-size: 80%;
}

#commit table {
    border-bottom: 1px solid #DDDDDD;
}

.changes {
    display: inline;
}

.changes .add {
    color: #46A546;
    font-weight: bold;
}

.changes .remove {
    color: #C43C35;
    font-weight: bold;
}

.diff {
    margin-bottom: 20px;
}

.diff h4 {
    /* 内部リンクがずれための回避策 */
    padding-top:40px;
    margin-top:-40px;
    font-family: 16px;
    line-height: 20px;
    display: inline;
}

.diff .title a {
    padding-top: 4px;
}

.diff h4 span.label {
    margin-right: 3px;
    vertical-align: middle;
}

.diff h4 small {
    margin-right: 3px;
    font-weight: bold;
    vertical-align: middle;
}

